{% extends "admin/change_list.html" %}
{% load i18n admin_list %}

{% block object-tools %}
    <ul class="object-tools grp-object-tools tools">
        <li>
            <a href="{% url admin:translation_manager_translationentry_compile %}" class="compilelink">
                {% filter capfirst %}{% trans "admin-translation_manager-compile_translations" %}{% endfilter %}
            </a>
        </li>
        {% if has_add_permission %}
        <li>
            <a href="{% url admin:translation_manager_translationentry_make %}" class="makelink">
                {% filter capfirst %}{% trans "admin-translation_manager-make_translations" %}{% endfilter %}
            </a>
        </li>
        {% endif %}
        {% if perms.translation_manager.load %}
        <li>
            <a href="{% url admin:translation_manager_translationentry_load %}" class="makelink">
                {% filter capfirst %}{% trans "admin-translation_manager-load-from-po" %}{% endfilter %}
            </a>
        </li>
        {% endif %}

    </ul>
{% endblock %}