{% extends "admin/translation_manager/change_list.html" %}
{% load i18n admin_list %}

{% block object-tools %}
    {{ block.super }}

<style>
textarea.from_remote {
    background: lightyellow;
}
</style>

<script type="text/javascript">
    $(function () {
        $('.btn-use-remote').on('click', function(){
            var id = $(this).data('id');
            var remote_translation_value = $('#' + id).html();
            var target_field = $(this).closest('td').siblings('.field-translation').find('textarea');

            target_field.addClass('from_remote');

            target_field.val(remote_translation_value);
        });
    });
</script>
{% endblock %}